@import './base/normal';
@import './base/header';
@import './base/block';
@import './base/lable';
@import './base/card';
@import './base/btn';
@import './base/post';
@import './base/insta';
@import './base/tagt';
@import './base/newsletter';
@import './base/pagination';
@import './base/text';
@import './base/main';
@import './base/most';

body {
    font-family: 'PT Sans', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    opacity: 0;
    display: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding:0 20px; 
}

.all_text{
    display: flex;
    justify-content: center;
}

.main_blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_block_main {
    width: calc(100% - 270px - 80px);
}